.reservationsDisplay {
    background-color: #A7ABDD;
    color: #81717A;
    padding: 40px;
    font-family: Arial;
    text-align: center;
    border: 2px solid #A7ABDD;
    border-radius: 15px;
    margin-top: 10px;
}

.tablesDisplay {
    background-color: #9D8CA1;
    color: #81717A;
    padding: 40px;
    font-family: Arial;
    text-align: center;
    border: 2px solid #9D8CA1;
    border-radius: 15px;
    margin-top: 10px;
}

.buttonsDash {
    margin: 5px;
    background-color: #FFF28D;
    border-radius: 5px;
    color: #8d9aff;
    border: 0px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.dashboardHeader {
    text-align: center;
    background-color: #8da9c0;
    color: #ffffff;
    border-radius: 15px;
    margin-top: 15px;
    padding: 10px
}

.generalBackground {
    background-color: #B4D4EE;
}

.input {
    margin-left: 5px;
}